@charset "utf-8";

/* css reset */
*{margin: 0;padding: 0;}
a,u{text-decoration: none;}
ol,ul,li{list-style: none;}
img{display: block;}
i,em{font-style: normal;}
b,strong{font-weight: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 16px;}
input{outline: none;}

/* css common */
.cont-fluid{width: 100%;position: relative;overflow: hidden;}
